*{
    box-sizing: border-box;
}

/*Inizio colorazioni dei testi*/
.verde{
    color: green;
}

.grigio{
    color: gray;
}
/*Fine colorazioni dei testi*/

.centratura{
    text-align: center;
    margin-top: 2%;
}

.ridimensionamento{
    width: 100%;
    height: auto;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 4%;
}